/*Common elements across all pages*/
@import url(https://fonts.googleapis.com/css?family=Almendra+SC);

h1{
	font-family: Almendra SC, serif;
	font-size: 48px;
	text-align:center;
	text-decoration: oblique;
	background-color:none;
	}
	
footer{
	font-family: Almendra SC, serif;
	font-size: 16px;
	text-align:center;
	text-weight: bold;
	text-decoration: oblique;
	}
